<ion-content padding>
    <ion-label position="floating">Nombre:</ion-label>
    <ion-input></ion-input>
    <hr>
    <ion-label position="floating">Asunto:</ion-label>
    <ion-input></ion-input>
    <hr>
    <ion-label position="floating">Email:</ion-label>
    <ion-input></ion-input>
    <hr>
    <ion-label position="floating">Mensaje:</ion-label>
    <ion-textarea rows="6" cols="20"></ion-textarea>
    <ion-content >
      <ion-button color="primary">Enviar</ion-button>
    </ion-content>
</ion-content>
